body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/* Styling Index.html */
.layout{
    background-color: white;
    width: 90%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.322);
    margin: 50px auto;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.logo img{
    margin-left: 130px;
    width: 20vh;
    padding-right: 10px;
}
.nav-left{
    margin-left: 50%;
    border: 1px solid black;
    background-color: black;
    width: 100px;
    text-align: center;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.nav-left:hover{
    background-color: transparent;
    color: black;
    transition: 0.4s;
    border: 1px solid black;
}

.card-left{
 width: 600px;
 margin: 0 auto;
 padding-top: 25px;
 padding-bottom: 30px;
 padding-left: 10px;
 text-align: justify;
 color: black;
}
p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.btn{
    background-color: black;
    color: white;
    border: 1px solid black;
    font-family: 'Poppins', sans-serif;
    padding: 4px;
    width: 100px;
    font-size: 14px;
    border-radius: 50px;
}
.btn:hover {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}
a{
    text-decoration: none;
    color : black
}
a:hover{
    text-decoration: none;
    color : blue
}

.user{
    margin-top: 20px;
    width: 280px;
    margin-right: 50px;
    text-align: center;
    
}
.icon i{
    font-size: 30px;
    padding-right: 28px;
    padding-bottom: 30px;
}
.img{
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.205);
    padding-bottom: 15px;
}

nav{
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.514);
}
nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav ul li a{
    margin-right: 15px;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 10px;

    font-family: 'Poppins', sans-serif;
}
nav ul li a:hover{
    border-radius: 6px;
    padding: 8px 10px;
    width: 100px;
    color: white;
    transition: 0.4s;
    background-color: black;
}
.fitur{
    display: flex;
}
.contact {
    background-color: black;
    color: white;
    padding: 7px 20px;
    border-radius: 75px;
    margin-top: 0px;
    border: 1px solid black;
    margin-bottom: 40px;
}
.contact:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}
.cv{
    margin-left: 25px;
    margin-top: 8px;
}
.btn-group{
    margin: 0 auto;
    display: flex;
}
/* Styling Contact Me */
.form-contact{
    width: 400px;
    height: auto;
    padding: 20px;
    margin: 10px auto;
    background-color:white ;
}

form div{
    margin-top: 15px;
}
label{
    font-weight: bold;
    font-size: 16px;
}
.input-name, .input-email, .input-phone,select,textarea{
    width: 95%;
    font-size: 16px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.041);
    resize: none;
    margin-top: 7px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 5px;
}

select{
    width: 100%;
}
.btn1{
    background-color: black;
    color: white;
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    margin-top: 15px;
    float: right;
    font-weight: bold;
    border: 1px solid black;
}
.btn1:hover{
    background-color: white;
    color: black;
    padding: 6px 20px;
    border: 1px solid black;
    transition: 0.3s;
    border-radius: 5px;
    font-weight: bold;
}

/* Styling Blog */

/* Blog Form */

.blog-form{
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: rgba(128, 128, 128, 0.226);
    margin-bottom: 60px;
    justify-content: center;

}
.blog-form .form-container{
    width: 40%;
    margin-top: 50px;
}

.h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;

}

.blog-form form label{
    font-size: 20px;
    font-weight: 500;
}

.input-project, .input-date, .input-contact,select, .upload-image, textarea{
    width: 95%;
    font-size: 16px;
    box-shadow: 0px 2px 3px grey;
    font-family: 'Poppins',sans-serif;
    padding: 8px;
    background-color: white;
    resize: none;
    margin-top: 6px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 10px;
}
.check1{
    display: flex;
    padding-left: 20px;
    margin-top: 10px;
}
.check2{
    margin-left: 50px;
}
.img-logo{
    width: 20px;
    font-weight: bold;
}
.blog-form form textarea{
    height: 150px;
}
.blog-list{
    margin:  80px 100px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
}
.blog-list .blog-list-item{
    width: 23%;
    padding: 15px;
    margin: 20px 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.404);
    border-radius: 10px;
}
.form-container form h1{
    font-weight: bolder;
    font-size: 40px;
    
}
.form-container div label{
    font-size: 21px;
    font-weight: bold;
}
.date{
    display: flex;
}
#input-start-date, #input-end-date{
    width: 260px;
}

.input-image-content{
 display: flex;
}
.input-image-content input{
    width: 95%;
}

.btn-blog{
    float: right;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 6px 25px;
    cursor: pointer;
}
.btn-blog:hover{
    background-color: transparent;
    color: black;
    transition: 0.3s;
}

.blog-image img{
    width: 100%;
    margin-top: 4px;
    border-radius: 8px;
}
.title{
    font-size: 18px;
}
.detail-blog-content{
    font-size: 15px;
    margin-top: -10px;
    color: rgba(0, 0, 0, 0.726);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.blog-content p{
    font-weight: bold;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.icon-download img{
    width: 11%;
    padding: 10px;
}
.icon-download{
    display: flex;
    margin-bottom: 30px;
}

.btn-edit{
    display: flex;
    justify-content: center;
}
.btn-edit button{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 49%;
    margin: 0 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 6px;
    border: 1px solid black;
}
.btn-edit button:hover{
    background-color: transparent;
    color: black;
}
.description-project img{
    width: 750px;
}
.description-project{
    width: 85%;
    margin: 70px auto;
}
.detail-blog-img{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}
.detail-blog-img p{
   
}
.description-content p{
    text-align: justify;
    font-size: 17px;
    font-weight: 600;
}
.short-description{
    margin-left: 150px;
    font-size: 20px;
    display: block;
    font-weight: bold;
}
.short-description h2{
    font-size: 24px;
    font-weight: bold;
}
.short-description i{
    font-size: 35px;
    padding: 20px 15px;
}
.short-descript{
    
}